<ng-template #portalContent>
  <p-calendar
    [appendTo]="'body'"
    [ngModel]="dataService.selectedDate$ | async"
    [showClear]="true"
    [showIcon]="true"
    [readonlyInput]="true"
    (ngModelChange)="onDateChange($event)"
    dateFormat="mm.yy"
    view="month"
  />
</ng-template>

<div class="totals-container">
  <ng-container *ngIf="dataService.selectedDate$ | async; else emptyTotalsTemplate">
    <app-totals
      [date]="dataService.selectedDate$ | async"
      [items]="(dataService.totals$ | async) || []"
    ></app-totals>
  </ng-container>
  <ng-template #emptyTotalsTemplate>
    <app-label [text]="emptyTotalsText"></app-label>
  </ng-template>
</div>

<div class="category-details-container">
  <ng-container *ngIf="dataService.selectedDate$ | async">
    <ng-container *ngIf="dataService.totalsSelectedCategory$ | async; else emptyCategoryDetailsTemplate">
      <app-category-details
        [items]="(dataService.categoryExpenses$ | async) || []"
      ></app-category-details>
    </ng-container>
    <ng-template #emptyCategoryDetailsTemplate>
      <app-label [text]="emptyCategoryDetailsText"></app-label>
    </ng-template>
  </ng-container>
</div>
