<p-fieldset [toggleable]="true" legend="Переименование категорий">
  <app-category-edit
    [categories]="(dataService.categories$ | async) || []"
    (categoryRename)="onCategoryChange($event)"
  ></app-category-edit>
</p-fieldset>

<p-fieldset [toggleable]="true" legend="Хранение данных">
  <app-db-edit
    [dbs]="(dataService.dbs$ | async) || []"
    [currentDb]="dataService.selectedDb$ | async"
    (addDb)="onDbAdd($event)"
    (loadDb)="onDbLoad($event)"
    (deleteDb)="onDbDelete()"
    (renameDb)="onDbRename($event)"
  ></app-db-edit>
</p-fieldset>
