<p-listbox
  [(ngModel)]="selectedCategory"
  [listStyle]="{'max-height': '150px'}" 
  [options]="categories"
  [style]="{'width': '450px', 'min-height': '150px'}"
  (ngModelChange)="onSelectedCategoryChange()"
  optionLabel="name"
>
  <ng-template let-category pTemplate="item">
    <app-colored-category-item
      [category]="category"
    ></app-colored-category-item>
  </ng-template>
</p-listbox>

<div class="edit-container">
  <input
    [(ngModel)]="categoryName"
    pInputText
    type="text"
  />

  <div class="buttons">
    <p-button
      [disabled]="!categoryName.length"
      [style]="{'width': '170px'}"
      (onClick)="onAddClick()"
      label="Добавить"
    ></p-button>

    <p-button
      [disabled]="!selectedCategory || !categoryName.length"
      [style]="{'width': '170px'}"
      (onClick)="onRenameClick()"
      label="Переименовать"
    ></p-button>
  </div>

  <p-colorPicker
    [(ngModel)]="categoryColor"
    [disabled]="!categoryName.length"
    [ngClass]="{'not-color': !categoryColor}"
    (onHide)="onColorChange()"
  />
</div>
