<ng-template #portalContent>
  <p-button
    (onClick)="onAddClick()"
    label="Добавить трату"
  ></p-button>

  <p-button
    [disabled]="!selectedExpense"
    (onClick)="onRowDblClick(selectedExpense)"
    label="Изменить трату"
  ></p-button>

  <p-button
    [disabled]="!selectedExpense"
    (onClick)="onDeleteClick(selectedExpense)"
    label="Удалить трату"
  ></p-button>
</ng-template>

<p-table
  [(selection)]="selectedExpense"
  [rowHover]="true"
  [scrollable]="true"
  [sortOrder]="-1"
  [value]="(dataService.expenses$ | async) || []"
  dataKey="id"
  scrollHeight="flex"
  selectionMode="single" 
  sortField="date"
  styleClass="p-datatable-gridlines p-datatable-sm"
>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="date" style="width: 35%">
        Дата
        <p-sortIcon field="date" />
      </th>
      <th pSortableColumn="categoryId" style="width: 35%">
        Категория
        <p-sortIcon field="categoryId" />
      </th>
      <th pSortableColumn="price" style="width: 30%">
        Стоимость
        <p-sortIcon field="price" />
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr [pSelectableRow]="item" (dblclick)="onRowDblClick(item)">
      <td>{{ item.date | date : 'dd.MM.yyyy' }}</td>
      <td>{{ item.category.name }}</td>
      <td>{{ item.price }}</td>
    </tr>
  </ng-template>
</p-table>
