<div style="font-weight: 500;">
  Текущая база: {{ currentDb ? currentDb.name : '' }}
</div>

<div>
  <p-dropdown
    [(ngModel)]="selectedDb"
    [appendTo]="'body'"
    [options]="dbs"
    optionLabel="name"
  ></p-dropdown>

  <input
    #dbNameInput
    [(ngModel)]="dbName"
    pInputText
    type="text"
  />
</div>

<div>
  <p-button
    [disabled]="!selectedDb || selectedDb.id === currentDb?.id"
    (onClick)="onLoadClick()"
    label="Переключиться на выбранную базу"
  ></p-button>

  <p-button
    (onClick)="onDeleteClick()"
    label="Удалить текущую базу"
  ></p-button>

  <p-button
    [disabled]="!dbName.length"
    (onClick)="onAddClick()"
    label="Добавить новую базу"
  ></p-button>

  <p-button
    [disabled]="!dbName.length"
    (onClick)="onRenameClick()"
    label="Переименовать выбранную базу"
  ></p-button>
</div>
