// @import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/themes/mira/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: 14px;
}

p-table {
  width: 100%;
  min-height: 0;
  user-select: none;
}
